body {
    /*background-image: url("../css/php2.jpg");*/
    background: wheat;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    margin-top: 8%;
    margin-left: 23.5%;
    border: 1px solid gray;
    width: 990px;
    height: 900px;
    color: white;
    background-color: rgba(2, 0, 0, 0.7);
    font-size: 20px;
    padding-left: 5px;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
    margin-top: 40px;
    background: steelblue;
    box-shadow: 5px 5px 0 #333;
    padding: 10px;
    font-weight: bold;
    color: wheat;
}

.foco {
    color: tan;
    font-size: 26px;
}

a {
    color: blue;
}