body{
    margin: 0px;
}

#send{
    margin-top: 0px;
    margin-left: 600px;
    width: 287px;
    height: 330px;
    background-color: rgba(222, 222, 222, 0.5);
}
form{
    padding: 10px;
}
article{
    background-color: beige;
    height: 800px;
}